/*.egg
/.tox
/data*
*.bak
*.log
*.pyc
*.pyo
*.py~
*apicache*
*pycache*
.idea
nbproject/
build
dist
i18n/
lists/
login-data/*
logs/*.*
pywikibot/families/
pywikibot/throttle.ctrl
pywikibot.egg-info/
pywikibot.lwp
throttle.ctrl
user-*.py
/dumps
core/
pywikibot/
