/*.egg
/.tox
/data*
*.bak
*.pyc
*.pyo
*.py~
*apicache*
*pycache*
.idea
build
dist
i18n/
login-data/*
logs/*
logs*
pywikibot/families/
pywikibot/throttle.ctrl
pywikibot.egg-info/
pywikibot.lwp
throttle.ctrl
user-*.py
